
body {
  display: flex;
  justify-content:flex-start;
  height: 100%;
}


#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start left;
  width: 250px;
  padding: 20px 0 0 10px;
  
}

#main-content{
  display: flex;
  flex-direction: column;
  flex-grow: 0.75;
  padding: 0 0 0 3em;
}

#title {
align-items: center;
}

#read-btn {
  border-color: red;
  color: red;
}

.button-small{
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
  background-color:#37d91e;
  border-color: transparent;
}

.button-small-unread{
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
  background-color:red;
  border-color: transparent;
}

.fa-trash {
  color: gray;
}